{% extends "ProjectDanceBundle:Default:index.html.twig" %}

{% block title %}
	Hello 	{{ user.getUsername()}} !
{% endblock %}

{% block content %}
	<img src = "{{ img }}"/>
	<h1>
		Hello {{ user.getUsername() }} !
	</h1>
{% endblock %}

