{{ dance }}
<form action="{{ path('root') }}admin/newdance " method="post">
	Name:
	<input type="text" name="title" />
	<br/>
	Info: <br/>
	
	<textarea name="info" > </textarea>
	<br/>
	
	<input type = "submit" />
</form>
