
{% if error is defined %}
<div>{{ error.message }} </div>
{% endif %}

<div>{{ name }}</div>


<form action="{{ path('register') }} " method="post" enctype="multipart/form-data">
	<label for="username">Username:</label>
	<input type="text" id="username" name="_username" />
	<label for="password">Password:</label>
	<input type="password" id="password" name="_password" />
    <input type="file" name="filename"><br> 
	<input type = "submit" />
</form>
