{% if video != '' %}
    <iframe width="560" height="315" src="{{ video }}" frameborder="0" allowfullscreen></iframe>
{% endif %}
<form action="{{ path('root') }}youtube " method="post">
	1) Find an youtabe video that you prefer <br/>
 	2) Click the "Podelitsia" button <br/>
 	3) Paste the link into the behind line <br/>
	<input type="text" name="path" /><br/>
	<input type = "submit" />
</form>
